@utility container {
  @apply mx-auto px-4 sm:px-8 lg:px-16 xl:px-20 2xl:px-24;
}

@theme {
  --spacing-37: 18.75rem;

  --text-large: calc(var(--text-base) + var(--text-base) * 0.125);
  --text-small: calc(var(--text-base) - var(--text-base) * 0.125);
}
