
body{
    padding:0;
    margin:0;
    color: #333333;
    background-color: #ffffff;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.8;

}

img{
    width:100%
}
a{
    text-decoration:none;
    color:black;
}
::selection{
    background:#c8ab77;
}