@tailwind base;
@tailwind components;

@tailwind utilities;
@layer components{
    .heading{
    @apply
     text-2xl 
     font-display
     text-headingColor
     my-3
     /* mobile:text-4xl */

}
.hover{
    @apply 
    text-commonColor
     hover:text-commonColorHover
}
.facebook{
    @apply
    hover:bg-blue-700
    hover:text-linkHoverColor
    
    
}
.twitter{
    @apply
    hover:bg-blue-400
    hover:text-linkHoverColor
  
    
}
.pinterest{

    @apply
    hover:bg-red-800
    hover:text-linkHoverColor
    
    
}
.menuButton{
    @apply
    flex
    
    justify-center
      items-center
      text-3xl
      cursor-pointer
      hover:text-commonColor
}

.navItem{
    @apply
    text-lg
    mx-5
    hover:text-commonColor
    font-lora

},
.title{
    @apply
    font-display
     text-xl
     relative
     border-b-4
     border-commonColor
},
.socialLink{
    @apply
    mx-2
     w-12
     h-12
     rounded-full
     bg-gray-300
     flex
     justify-center
     items-center
}
}
.buttonClass{
    @apply
    w-32
    h-16
    rounded-full
    bg-black
    hover:bg-yellow-600
    text-white
}
