.nav{
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom:1px solid #f6f6f6;
    
}
.ul{
    display:flex;
    justify-content:center;

}
.navItem{
   margin-left:60px;
    position:relative
}
.navItem::after{
    content: "";
    height: 5px;
    width: 5px;
    background: #ddd;
    position: absolute;
    top: calc(50% - 2px);
    right: -50%;

}
.active, .navItem:hover{
    color:#c8ab77
}