
.heading{
    margin:50px 0px;
    font-family: "Oswald", sans-serif;
}
.similar{
    margin:100px 0px;
}
.SimilarPostContainer{
    width: 100%;
    display: flex;
    justify-content: SPACE-AROUND;
    margin:30px 0px;
    
}
.similarBlog{
    width:30%;
}
.similarBlogImage{
    position: relative;
    width: 100%;
    height: 300px
;
}
.similarBlogHeading{
    cursor:pointer;
    font-family: "Oswald", sans-serif;
}